$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
$fa-font-path: "../bower_components/font-awesome/scss/font-awesome";

//Fonts
@font-face  {
  font-family: OpenSans;
  src: url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
}
$font-OpenSans: 'Open Sans', sans-serif;

// Colors
$zopa-blue: #2aa1df;
$zopa-background-color: #f2f1e6;
$zopa-gray: #87847f;
$zopa-black: #444034;
$zopa-blue-link: #0363a7;
$zopa-button-gradient-light-blue: #74c4ed;

body {
  padding: 0;
  font-family: $font-OpenSans;
}

.header {
  width: 100%;
  position: absolute;
  text-align: right;
  padding: 10px 15px;
  font-weight: 600;
  letter-spacing: -0.3px;
  z-index: 1;
}

.container {
  max-width: 700px;
}

.row, h1 {
  margin: 0;
}

a {
  color: $zopa-blue-link;
  &:hover {
    color: $zopa-blue-link;
  }
}

.centered {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.headline {
  h1 {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -2px;
    color: $zopa-black;
  }
}

.zopa-jumbotron{
  background-color: $zopa-background-color;
  margin-top: 10px;
  padding-bottom: 20px;
  border-radius: 2px;
  .interest{
    font-size: 7.3em;
    font-weight: 600;
    letter-spacing: -8px;
    color: $zopa-blue;
  }
  .return{
    font-size: 2.7em;
    font-weight: 700;
    color: $zopa-blue;
    margin-top: 23px;
  }
  .explain{
    color: $zopa-gray;
    font-weight: 600;
    letter-spacing: -0.3px;
  }
  .btn-lg, .btn-group-lg > .btn {
    padding: 5px 16px;
    font-size: 1.7em;
    font-weight: 700;
    background-color: $zopa-blue;
    border: 1px solid $zopa-blue;
    &:hover {
      background-color: $zopa-button-gradient-light-blue;
      border: 1px solid $zopa-button-gradient-light-blue;
    }
  }
}
.zopa-inline{
  display: inline-flex;
  vertical-align: middle;
  color: $zopa-black;
  margin-top: -3px;
  font-size: 1.6em;
  font-weight: 700;
  md-radio-group.layout-row md-radio-button{
    margin-right: 5px;
    .md-label {
      margin-left: 25px;
      margin-bottom: 2px;
    }
    .md-container {
      width: 22px;
      height: 22px;
      .md-off{
        border: 1px solid $zopa-gray;
        background: radial-gradient(#FFF 45%, $zopa-gray);
      }
      .md-on{

      }
//      .md-on {
//        -webkit-transform: scale(0.45);
//        transform: scale(0.45);
//      }
    }
  }
  .fa-stack{
    position: absolute;
    margin-top: -10px;
    margin-left: -15px;
    color: $zopa-blue;
    .fa-question{
      font-size: 0.6em;
    }
    .fa-circle-thin{
      font-size: 0.8em;
      font-weight: 600;
    }
  }
  .tooltip{
    width: 377px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);
    div.tooltip-arrow{
      top: -6px;
      right: 8px;
      border-bottom-color: $zopa-background-color;
    }
    .tooltip-inner{
      max-width: 500px;
      background-color: $zopa-background-color;
      opacity: 1;
      color: $zopa-black;
      font-size: 1.1em;
      font-weight: 500;
      text-align: left;
      padding: 15px 20px;
    }
  }
}

.why{
  h3{
    margin: 10px 0 0 0;
    font-size: 1.5em;
  }
}

[uib-tooltip-popup].tooltip.top-left > .tooltip-arrow, [uib-tooltip-popup].tooltip.top-right > .tooltip-arrow, [uib-tooltip-popup].tooltip.bottom-left > .tooltip-arrow, [uib-tooltip-popup].tooltip.bottom-right > .tooltip-arrow, [uib-tooltip-popup].tooltip.left-top > .tooltip-arrow, [uib-tooltip-popup].tooltip.left-bottom > .tooltip-arrow, [uib-tooltip-popup].tooltip.right-top > .tooltip-arrow, [uib-tooltip-popup].tooltip.right-bottom > .tooltip-arrow, [uib-tooltip-html-popup].tooltip.top-left > .tooltip-arrow, [uib-tooltip-html-popup].tooltip.top-right > .tooltip-arrow, [uib-tooltip-html-popup].tooltip.bottom-left > .tooltip-arrow, [uib-tooltip-html-popup].tooltip.bottom-right > .tooltip-arrow, [uib-tooltip-html-popup].tooltip.left-top > .tooltip-arrow, [uib-tooltip-html-popup].tooltip.left-bottom > .tooltip-arrow, [uib-tooltip-html-popup].tooltip.right-top > .tooltip-arrow, [uib-tooltip-html-popup].tooltip.right-bottom > .tooltip-arrow, [uib-tooltip-template-popup].tooltip.top-left > .tooltip-arrow, [uib-tooltip-template-popup].tooltip.top-right > .tooltip-arrow, [uib-tooltip-template-popup].tooltip.bottom-left > .tooltip-arrow, [uib-tooltip-template-popup].tooltip.bottom-right > .tooltip-arrow, [uib-tooltip-template-popup].tooltip.left-top > .tooltip-arrow, [uib-tooltip-template-popup].tooltip.left-bottom > .tooltip-arrow, [uib-tooltip-template-popup].tooltip.right-top > .tooltip-arrow, [uib-tooltip-template-popup].tooltip.right-bottom > .tooltip-arrow, [uib-popover-popup].popover.top-left > .arrow, [uib-popover-popup].popover.top-right > .arrow, [uib-popover-popup].popover.bottom-left > .arrow, [uib-popover-popup].popover.bottom-right > .arrow, [uib-popover-popup].popover.left-top > .arrow, [uib-popover-popup].popover.left-bottom > .arrow, [uib-popover-popup].popover.right-top > .arrow, [uib-popover-popup].popover.right-bottom > .arrow, [uib-popover-html-popup].popover.top-left > .arrow, [uib-popover-html-popup].popover.top-right > .arrow, [uib-popover-html-popup].popover.bottom-left > .arrow, [uib-popover-html-popup].popover.bottom-right > .arrow, [uib-popover-html-popup].popover.left-top > .arrow, [uib-popover-html-popup].popover.left-bottom > .arrow, [uib-popover-html-popup].popover.right-top > .arrow, [uib-popover-html-popup].popover.right-bottom > .arrow, [uib-popover-template-popup].popover.top-left > .arrow, [uib-popover-template-popup].popover.top-right > .arrow, [uib-popover-template-popup].popover.bottom-left > .arrow, [uib-popover-template-popup].popover.bottom-right > .arrow, [uib-popover-template-popup].popover.left-top > .arrow, [uib-popover-template-popup].popover.left-bottom > .arrow, [uib-popover-template-popup].popover.right-top > .arrow, [uib-popover-template-popup].popover.right-bottom > .arrow {
  margin-top: -5px;
  margin-right: 15px;
}
.tooltip.in {
  opacity: 1;
  margin-top: -3px;
  border-radius: 5px;
}
.move-left{
  margin-left: -5px;
}
.tooltip.bottom{
  padding: 0;
}
/* Responsive: small devices and down */
@media screen and (max-width: 750px) {
  .headline {
    h1 {
      font-size: 2em;
    }
  }

  .zopa-jumbotron{
    .interest{
      font-size: 4.5em;
      margin-top: 10px;
    }
    .return{
      font-size: 1.5em;
    }
    .explain{
      font-size: 0.7em;
    }
    .btn-lg, .btn-group-lg > .btn {
      font-size: 0.8em;
    }
  }

  .zopa-inline{
    font-size: 0.8em;
  }

  .why{
    h3{
      font-size: 1em;
    }
  }
}

/* Responsive: iphone 6 and down */
@media screen and (max-width: 376px) {
  .zopa-jumbotron{
    .interest{
      font-size: 4em;
    }
  }

  .zopa-inline{
    font-size: 0.6em;
  }
}
