<div class="centered">

  <div class="row">
    &nbsp;
  </div>

  <div class="row headline">
    <h1>Work your money harder</h1>
  </div>

  <div class="row zopa-jumbotron">
    <div class="row">
      <div class="col-xs-4">
        <h1 class="interest"><span count="{{vm.startCount}}" count-to="{{vm.counter.countTo}}"
                                   value="{{vm.counter.countFrom}}" duration="0.2" ></span>%
        </h1>
      </div>
      <div class="col-xs-8 move-left">
        <div class="row">
          <h3 class="return">annualised return</h3>
        </div>
        <div class="row zopa-inline">
          <span>on loans up to&nbsp;</span>

          <md-radio-group layout="row" ng-model="vm.selected" >
            <md-radio-button ng-repeat="duple in vm.duples" md-no-ink class="md-primary" ng-value="duple">{{duple.years}} years</md-radio-button>
          </md-radio-group>

          <!--<label ng-repeat="duple in vm.duples">-->
          <!--<input type="radio"-->
          <!--ng-model="vm.selected"-->
          <!--ng-value="duple">-->
          <!--{{duple.years}} years-->

          <!--</label>-->
        <span class="fa-stack" uib-tooltip="Lend to borrowers whose loans last up to 3 years, or 5 years. You'll receive monthly repayments and interest from borrowers which are also re-lent to new borrowers for up to 3 or 5 years unless you decide to whithhold them. You can change your lending preference or use our early access facility to withdraw money before loans get repaid whenever you like."
              tooltip-placement="bottom-right" tooltip-class="customClass">
          <i class="fa fa-question fa-stack-1x"></i>
          <i class="fa fa-circle-thin fa-lg fa-stack-1x"></i>
        </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 explain">
        <div>Shown before tax, after 1% fee and expected defaults. With peer-to-peer lending your capital is at risk, our <a href="http://www.zopa.com/lending/risk-management" target="_blank">risk assessment</a> has the details.</div>
      </div>
      <div class="col-xs-3" style="padding: 0;">
        <div class="btn btn-info btn-lg btn-block button-gradient">
          Get started
        </div>
      </div>
    </div>
  </div>
  <div class="row why">
    <h3>Zopa gives you great returns on your money by lending it directly to sensible borrowers who pay you interest</h3>
  </div>

  <pre style="margin-top: 50px;" ng-if="vm.devMode">{{vm.selected | json}}</pre>

</div>
